/* Desenvolvido por Douglas Ferreira | CPD Caucaia - 144 | Link Geral V.2.0 --> */

*{
	font-family: 'Lato', sans-serif;
}

.teste {

	margin-top: 12px;
	margin-left: 30px;

}

body { 
background-color: #008000;
	#background-color: gray;
	background-image: url('star-wars-13-wallpaper-1600x900.jpg');
/*background-size: 1800px px;*/
	opacity : 0.8;
	text-align: center;
	color: gray;
}

.dropbtn {

	background-color: #FF8C00;
    color: white;
    padding: 14px;
    font-size: 15px;
    border: none;
    cursor: pointer;
	border-radius:5px;
}
.dropbtn strong {
	padding:7px 16px;
}
.dropdown {
  
	
	margin-top: 50px;
    display: inline-block;
}

.dropdown-content {
    margin-left:2px;
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 99px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
     
	color: black;
    /*padding: 12px 16px;*/
	padding: 7px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #bfbcbc;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
	
}
.mascara{
	width: 300px;
	height: 200px;
	
	
}
.mascara img{
	width: 100px;
	height: 90px;
	opacity: 15%;
	margin-top:420px;
	margin-left:-170px;
}
.rodape {
	font-family: 'Lato', sans-serif;
	font-size:14px;
	font-weight: bold;
	position: fixed;
	bottom: 0;
	width: 99%;
	height: 18px;
	background-color: #f9f9f9
}
@media (max-width: 1999px){
.dropdown {
    
    height:5  
	width:150px;
	
	margin-top: -50px;
    display: inline-block;
}
}